body {
  display: flex;
  justify-content: flex-start;
  min-height: 1000px;
}

main, #nav-container {
  width: 60%;
}

#nav-container {
  min-height: 52px;
  max-height: 52px;
  margin-bottom: 15px;
}

#summary-container {
  align-items: center;
  background: url('../assets/img/desktop.jpg');
  background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  min-height: 360px;
  position: relative;
}

#summary-container p {
  color: #fff;
  font-family: opensans-light, Helvetica Neue, sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  margin: 15px 0px;
  text-align: center;
  width: 70%;
}

#pic-box {
  background: url('../assets/img/profile-pic.jpg');
  background-size: cover;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 140px;
  left: -70px;
  margin-top: 15px;
  position: absolute;
  width: 140px;
}

#cv-download {
  align-items: center;
  border: 2px solid #f2f4ad;
  border-radius: 4px;
  color: #fff;
  display: flex;
  font-family: raleway, opensans-light, sans-serif;
  font-size: 0.9rem;
  justify-content: center;
  height: 40px;
  margin-top: 20px;
  padding: 0 8px;
  text-decoration: none;
  width: 16%;
}

#skills-container {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  font-family: opensans-light, Helvetica Neue, sans-serif;
  font-size: 1rem;
  justify-content: space-between;
  min-height: 260px;
  width: 100%;
}

#edu-container {
  align-items: center;
  display: flex;
  font-family: opensans-light, Helvetica Neue, sans-serif;
  font-size: 1rem;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 45px;
  min-height: 200px;
  width: 100%;
}

.resume-icon {
  height: 1.2rem;
  margin-right: 10px;
  width: 1.2rem;
}

.tech {
  border-radius: 3px;
  height: 1.6rem;
  width: 1.6rem;
}

.col {
  height: 100%;
  width: 48%;
}

.bar-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
  width: 100%;
}

.bar-container {
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 14px;
  margin-left: 6px;
  width: 90%;
}

.skill {
  font-family: raleway, opensans-light, Helvetica Neue, sans-serif;
  color: #fff;
  font-size: 0.7rem;
  text-align: center;
}

.skill:hover {
  cursor: default;
}

.proficient {
  background-color: #323232;
  border-radius: 3px;
  height: 100%;
  width: 100%;
}

.adv {
  background-color: #323232;
  border-radius: 3px;
  height: 100%;
  width: 75%;
}

.int {
  background-color: #323232;
  border-radius: 3px;
  height: 100%;
  width: 50%;
}

.html5 {
  background: url('../assets/img/html5.png');
  background-size: cover;
}

.css3 {
  background: url('../assets/img/css3.png');
  background-size: cover;
}

.jquery {
  background: url('../assets/img/jquery.gif');
  background-size: cover;
}

.javascript {
  background: url('../assets/img/javascript.png');
  background-size: cover;
}

.react {
  background: url('../assets/img/react.png');
  background-size: cover;
}

.redux {
  background: url('../assets/img/redux.png');
  background-size: cover;
}

.github {
  background: url('../assets/img/github-logo.png');
  background-size: cover;
}

.node {
  background: url('../assets/img/node.png');
  background-size: cover;
}

.angular {
  background: url('../assets/img/angular.png');
  background-size: cover;
}

.postgresql {
  background: url('../assets/img/postgresql.png');
  background-size: cover;
}

.heroku {
  background: url('../assets/img/heroku.png');
  background-size: cover;
}

.section-header {
  display: flex;
  height: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.horiz-first {
  border-bottom: 1px solid #e75555;
  font-family: raleway;
  font-size: 1.3rem;
  height: 30px;
  width: 15%;
}

.horiz-second {
  border-bottom: 1px solid #323232;
  height: 30px;
  width: 85%;
}

.school-box {
  align-items: center;
  border-radius: 4px;
  background-size: cover;
  display: flex;
  font-family: raleway, opensans, sans-serif;
  font-size: 0.8rem;
  flex-direction: column;
  justify-content: center;
  width: 280px;
}

.school-box span {
  margin-top: 12px;
  text-align: center;
}

.school {
  height: 180px;
  width: 180px;
}

/* TIMELINE STYLES */
#exp-container {
  font-family: raleway, opensans-light, sans-serif;
  /*margin: 0 auto;*/
  margin-bottom: 40px;
  max-width: 1024px;
  width: 96%;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: .5em;
}

p {
  font-family: opensans-light, sans-serif;
  font-size: .8rem;
  line-height: 1.8;
}

.job-pic {
  height: 25px;
  margin-bottom: -2px;
  width: 25px;
}

.timeline-item {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem 2rem;
  position: relative;
}

.timeline-item p {
  font-size: 1rem;
}

.timeline-item::before {
  content: attr(date);
  display: block;
  font-family: raleway, opensans-light, sans-serif;
  font-size: 0.9rem;
  left: 2rem;
  position: absolute;
}

.timeline-item::after {
  background: white;
  border: 1px solid rgb(231, 85, 85);
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: -7px;
  position: absolute;
  top: 1.5rem;
  width: 10px;
}

.timeline-item:last-child {
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 80%, transparent) 1 80%;
}

/* -------------------- */

@media (max-width: 1000px) {
  #summary-container {
    min-height: 320px;
  }

  #summary-container p {
    font-size: 1rem;
  }

  #cv-download {
    font-size: 0.8rem;
    padding: 0 10px;
  }

  .resume-icon {
    height: 1rem;
    margin-right: 8px;
    width: 1rem;
  }
}

@media (max-width: 810px) {
  #nav-container {
    min-height: 100px;
    max-height: 100px;
  }

  #summary-container {
    min-height: 280px;
  }

  #cv-download {
    font-size: 0.7rem;
    padding: 0 6px;
    width: 20%;
  }

  #summary-container p {
    font-size: 0.8rem;
  }

  #pic-box {
    height: 120px;
    left: -60px;
    width: 120px;
  }

  .resume-icon {
    height: 0.7rem;
    margin-right: 8px;
    width: 0.7rem;
  }
}

@media (max-width: 600px) {
  #pic-box {
    height: 80px;
    left: -40px;
    width: 80px;
  }

  #summary-container {
    height: 280px;
    width: 360px;
  }

  #edu-container {
    flex-direction: column;
  }

  .school-box {
    min-height: 200px;
  }

  #skills-container {
    align-items: center;
    flex-direction: column;
    min-height: 230px;
    width: 360px;
  }

  #cv-download {
    height: 35px;
  }

  .col {
    padding: 0;
    width: 360px;
  }

  .bottom-col {
    margin-top: -15px;
  }

  .section-header {
    width: 360px;
  }

  .horiz-first {
    align-items: flex-end;
    display: flex;
    font-size: 1rem;
  }

  .tech {
    height: 1.2rem;
    width: 1.2rem;
  }

  .skill {
    font-size: 0.6rem;
  }

  .school {
    height: 150px;
    width: 150px;
  }
}

@media (max-device-width: 600px) {
  main, #nav-container {
    width: 70%;
  }

  #nav-container {
    min-height: 250px;
    width: 70%;
  }

  #summary-container p {
    font-size: 1.3rem;
  }

  #pic-box {
    height: 110px;
    left: -55px;
    width: 110px;
  }

  #cv-download {
    margin: 20px 0;
  }

  .timeline-item::before {
    font-size: 1.5rem;
  }
}
