body {
  display: flex;
  justify-content: flex-start;
  /*min-height: 1000px;*/
}

#nav-container {
  margin-bottom: 20px;
}

#summary-container {
  align-items: center;
  background: url('../assets/img/desktop.jpg');
  background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 360px;
  margin-bottom: 15px;
  position: relative;
}

#summary-container p {
  color: #fff;
  font-family: opensans-light, Helvetica Neue, sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  margin: 15px 0px;
  text-align: center;
  width: 70%;
}

#pic-box {
  background: url('../assets/img/profile-pic.jpg');
  background-size: cover;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 140px;
  left: -70px;
  margin-top: 15px;
  position: absolute;
  width: 140px;
}

#cv-download {
  align-items: center;
  border: 2px solid #f2f4ad;
  border-radius: 4px;
  color: #fff;
  display: flex;
  font-family: raleway, opensans-light, sans-serif;
  font-size: 0.9rem;
  justify-content: center;
  height: 40px;
  margin-top: 20px;
  text-decoration: none;
  width: 16%;
}

#info-container {
  height: auto;
  position: relative;
  width: 100%;
}

#skills-container, #edu-container {
  align-items: center;
  background-color: #fff;
  border: 2px solid #e66b6b;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 22%;
  /*margin-top: 22px;
  margin-bottom: 28px;*/
  width: 100%;
  z-index: 100;
}

#skills-container {
  min-height: 220px;
}

#skills-container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 6%;
  margin-right: 6%;
  width: 88%;
}

#skills-container ul {
  font-family: opensans-light, Helvetica Neue, Raleway, sans-serif;
  font-size: 0.9rem;
  line-height: 2;
  list-style: none;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  width: 25%;
}

#edu-container {
  font-family: opensans-light, Helvetica Neue, Raleway, sans-serif;
  font-size: 0.9rem;
}

.resume-icon {
  height: 1.2rem;
  margin-right: 10px;
  width: 1.2rem;
}

.skills {
  justify-content: space-around;
}

.section-header {
  /*border-bottom: 1px solid #444;*/
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  /*margin-top: 10px;*/
  margin-bottom: 20px;
  text-align: center;
}

.spacer {
  background-color: transparent;
  /*height: 1px;*/
  margin: 30px 0;
  width: 100%;
}

/*.horiz-line {
  border-top: 1px solid #505050;
  height: 1px;
  margin: 25px 0;
  width: 88%;
}

.vert-line {
  position: absolute;
  border-left: 1px solid black;
  left: 50%;
  height: 100%;
  width: 1px;
  z-index: -10;
}*/
/*.info-row*/
