body {
  display: flex;
  justify-content: flex-start;
}

#nav-container {
  margin-bottom: 20px;
}

#summary-container {
  align-items: center;
  background: url('../assets/img/desktop.jpg');
  background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 55%;
  margin-bottom: 15px;
  position: relative;
}

#summary-container p {
  color: #fff;
  font-family: opensans-light, Helvetica Neue, sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  margin: 15px 0px;
  text-align: center;
  width: 70%;
}

#pic-box {
  background: url('../assets/img/profile-pic.jpg');
  background-size: cover;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 140px;
  left: -70px;
  margin-top: 15px;
  position: absolute;
  width: 140px;
}

#cv-download {
  align-items: center;
  border: 2px solid #f2f4ad;
  border-radius: 4px;
  color: #fff;
  display: flex;
  font-family: raleway, opensans-light, sans-serif;
  font-size: 0.9rem;
  justify-content: center;
  height: 40px;
  margin-top: 20px;
  text-decoration: none;
  width: 16%;
}

#skills-container, #edu-container {
  align-items: center;
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
}

#skills-container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 7%;
  margin-right: 3%;
  width: 90%;
}

#skills-container ul {
  font-family: opensans-light, Helvetica Neue, Raleway, sans-serif;
  font-size: 0.9rem;
  line-height: 2;
  list-style: none;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  width: 80%;
}

/*#skills-container div:first-child {
  align-items: center;
  border-radius: 50%;
  border: 1px solid #2a2a2a;
  display: flex;
  height: 1.8rem;
  justify-content: center;
  width: 1.8rem;
}*/

.resume-icon {
  height: 1.2rem;
  margin-right: 10px;
  width: 1.2rem;
}

.section-icon {
  height: 2.3rem;
  left: 0;
  position: absolute;
  width: 2.3rem;
}

.skills {
  justify-content: space-around;
}

.section-header {
  /*border-bottom: 1px solid #444;*/
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.horiz-line {
  border-top: 1px solid #505050;
  margin: 35px 0;
  width: 60%;
}

/*.info-row*/
