@font-face {
  font-family: "opensans-light";
  src: url("../assets/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "opensans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

html, body, main {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  margin-bottom: 5px;
  width: 80%;
}

#name-box {
}

#name-box .name {
  font-family: opensans-light, Helvetica Neue, sans-serif;
  font-size: 2.5rem;
  margin: 0px;
}

#name-box .small {
  font-family: opensans-light, Helvetica Neue, sans-serif;
  font-size: 0.9rem;
  margin: 0px;
}

#link-box {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

#contact-section {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-top: 16px;
  width: 40%;
}

.text {
  margin-top: 5px;
  margin-bottom: 5px;
}

.option-box {
  display: flex;
  justify-content: center;
  margin: 0px 6px;
  width: 65px;
}

.option {
  color: #000;
  border-bottom: 2px solid #fff;
  font-family: opensans, Helvetica Neue, sans-serif;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid lightcoral;
}

.hero-text {
  font-family: opensans-light, Helvetica Neue, sans-serif;
  font-size: 1.8rem;
}

.contact-logo {
  height: 2rem;
  width: 2rem;
}

.email {
  height: 2.1rem;
  width: 2.1rem;
}

.email:hover {
  cursor: pointer;
}

.email-box {
  display: flex;
  justify-content: center;
  position: relative;
}

/* GRID STYLES */
#portfolio-section {
	width: 100%;
	margin: 0 auto;
}

#porfolio-grid {
	-moz-column-count: 3;
	-moz-column-gap: 8px;
	-webkit-column-count: 3;
	-webkit-column-gap: 8px;
	column-count: 3;
	column-gap: 8px;
  list-style: none;
  padding: 0;
	width: 100%;
}

#porfolio-grid img {
	display: inline-block;
  margin: 0 10%;
	/*margin-bottom: 10px;*/
  width: 80%;
}
/*
#porfolio-grid li {
	border: 1px solid #ed6675;
  border-radius: 6px;
  margin-bottom: 10px;
}*/

.size1 {
  height: 100%;
}

.size2 {
  height: 150%;
}

.size3 {
  height: 200%;
}

/* OVERLAY STYLES */
.project-box {
  position: relative;
}

.hidden {
  /*display: none;*/
}

.overlay {
  background-color: rgba(30, 30, 30, 0.75);
  border-radius: 6px;
  height: 30px;
  position: absolute;
  top: 0;
  width: 50px;
}

/* TOOLTIP STYLES */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}

.fade-out {
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
  visibility: hidden;
}

.tooltip {
  align-items: center;
  background-color: #ed6675;
  border-radius: 4px;
  display: flex;
  height: 34px;
  justify-content: center;
  position: absolute;
  top: 38px;
  width: 62px;
}
